
@{
    ViewBag.Title = "About";
}

<!-- Banner -->
<section id="banner2">
    <div class="inner">
        <header>
            <h1>ABOUT</h1>
        </header>
    </div>
</section>

<center><img src="~/images/about1.png" /></center>
<center><img src="~/images/about2.png" /></center>
<center><img src="~/images/about3.png" /></center>

<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">

    </div>
</section>


