
@{
    ViewBag.Title = "FAQ";
}

<!-- Banner -->
<section id="banner3">
    <div class="inner">
        <header>
            <h1>FREQUENTLY ASKED QUESTION (FAQ)</h1>
        </header>
    </div>
</section>



<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <center><img src="~/images/faq0.png" /><br /></center>
        <center><img src="~/images/faq1.png" /></center>
        <center><img src="~/images/faq2.png" /></center>
        <center><img src="~/images/faq3.png" /></center>
    </div>
</section>

