
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>WELCOME TO MRT TICKETING <br/> ADMINISTRATION SYSTEM </h1>
        </header>

        <footer>
            <a href="@Url.Action("PurchaseTicket", "Customer")" class="button">VIEW PUCRHASE HISTORY</a>

        </footer>
    </div>
</section>




