@model WebApplication1.Models.ForgotPassword

@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<!-- Banner -->
<section id="banner1">
    <div class="inner">
        <header>
            <h1>LOGIN PAGE</h1>
        </header>
    </div>
</section>

<section id="main" class="wrapper">
    <div class="inner">

        

        @using (Html.BeginForm())
        {
            <h2><center>Login Page<center></h2>

            <fieldset>

                <div class="box">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <center>
                            <h3>Your password will be sent to your email shortly. Thank you for your patience.</h3>

                        </center>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">

                            <center>
                                <a href="@Url.Action("Login", "")" class="button special">Login</a>
                            </center>

                        </div>
                    </div>
                </div>
            </fieldset>



        }
    </div>
</section>

