
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}
<!-- Banner -->
<section id="banner2">
    <div class="inner">
        <header>
            <h1>ABOUT</h1>
        </header>
    </div>
</section>
<center style="padding-top:30px;">
    <iframe width="900"
            height="600"
            src="http://www.youtube.com/embed/nyTnMIq03Z8"
            frameborder="0"
            allowfullscreen></iframe>
</center>
<div class="row" style="padding-left:300px;">
    <div class="col" style="padding-right:50px;">
        <center><img src="~/images/ETS_info_2.png" style="width:120%; height:120%;" /></center>
    </div>

    <div class="col" style="padding-right:50px;">
        <center><img src="~/images/ETS_info_1.png" style="width:120%; height:120%;" /></center>
    </div>

    <div class="col">
        <center><img src="~/images/ETS_info_7.png" style="width:200%; height:170%;" /></center>
    </div>
</div>

<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
    </div>
</section>
