
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}
<!-- Banner -->
<section id="banner3">
    <div class="inner">
        <header>
            <h1>FREQUENTLY ASKED QUESTION (FAQ)</h1>
        </header>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="row">
            <label style="background-color:lightgray; padding-right:20px; color:white; font-size:24px;">WHAT IS THE KTM KOMUTER?</label><br>
            <div style="background-color:white; padding-bottom:30px;">
                KTM Komuter is the first electrified commuter train service in Malaysia. It was introduced in 1995 in order to provide suburban railway services that cover the city center and suburban areas. It is a popular mode of transport for the people in the Klang Valley to commute to Kuala Lumpur City Center. Passengers can rest in the comfort of modern coaches while being taken to their destinations at very reasonable fares.
                The service was later introduced to the northern Peninsular Malaysia states of Kedah, Perak and Pulau Pinang in September 2015 after the completion of the Ipoh-Padang Besar Electrification and Double-Tracking Project.
                In October 2015, services to the southern sector were introduced to cover services between Seremban to Pulau Sebang (Tampin) after the completion of the Seremban - Gemas Electrification and Double-Tracking Project.
            </div>
           
            <label style="background-color:lightgray; padding-right:20px; color:white; font-size:24px;">WHICH STATIONS CAN THE ETS GO TO?</label><br>
            <div style="background-color:white;">
                The stations that the ETS will stop are as follows. <i>Note: Grayed out stations are stations where the ETS may not stop due to lack of passengers.</i>
                <div style="padding-left:140px;">
                    <label style="font-size:22px;">Route</label>
                    <img src="~/images/ETS_Route.jpg" style="width:80%; height:100%; border: 8px solid #FFE83D;" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <label style="background-color:lightgray; padding-right:20px; color:white; font-size:24px;">WHAT IS THE SCHEDULE FOR THE ETS?</label><br>
            <div style="background-color:white; padding-bottom:30px;">
                The schedule is as follows.
                <div style="padding-left:120px;">
                    <label style="font-size:22px;">Effective from 11/10/2019 until 30/11/2019</label>
                    <img src="~/images/ETS_Schedule.jpg" style="width:80%; height:100%; border: 8px solid #FFE83D;" />
                </div>
            </div>
        </div>
    </div>
</section>